<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magical Creatures</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <nav>
    <button type="button" name="button">Click for Giggles</button>
    <button type="button" name="button">Click for Goofs</button>
    <button type="button" name="button">Click for Bring Me to My Taxes Page</button>
  </nav>

  <%= yield %>

  <script src="/javascripts/app.js"></script>
</body>
</html>
